body {
  margin: 0;
  padding: 0; }

nav {
  background-color: #185970;
  /*margin-top: -5.1%;*/ }
  nav .danishflag {
    width: 51px;
    height: auto;
    float: right;
    margin-top: 37px;
    margin-right: 36%; }
  nav .britainflag {
    width: 35px;
    height: auto;
    margin-left: 37%;
    margin-top: 40px; }
  nav .logo {
    width: 55%;
    height: auto;
    margin-left: 22%;
    margin-top: 8%; }
  nav div {
    width: 100%;
    margin-top: 4%; }
    nav div input {
      position: absolute;
      border-radius: 20px;
      border: none;
      width: 70%;
      height: 5%;
      margin-left: 15%; }
    nav div .fa-search {
      position: relative;
      color: #87AA44;
      margin-left: 78%;
      margin-top: 2.6%; }
  nav ul {
    text-decoration: none;
    margin-top: 10%;
    text-align: center;
    margin-right: 15%;
    padding-bottom: 12%; }
    nav ul a {
      text-decoration: none;
      color: white;
      font-size: 28px;
      margin-left: 5%;
      margin-right: 2%;
      font-family: 'arial'; }

h1 {
  font-size: 29px;
  font-family: 'arial';
  color: #37474f;
  margin-left: 10%;
  margin-top: 9%;
  text-decoration: none; }

section {
  display: inline-block;
  width: 100%;
  margin-top: 2%; }
  section .work {
    width: 90%;
    height: auto;
    margin-bottom: 7%;
    margin-left: 5%; }
  section h2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 30px;
    font-style: normal;
    font-size: 20px;
    font-family: 'arial';
    position: absolute;
    font-weight: normal;
    display: block !important;
    width: 50%; }
  section .text1 {
    margin-top: -980px;
    display: block; }
  section .text2 {
    margin-top: -615px;
    display: block; }
  section .text3 {
    margin-top: -250px;
    display: block; }

.postage {
  border: #707070;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  background-color: #EFEFEF;
  font-family: 'arial';
  height: 150px;
  margin-bottom: 30px;
  color: #18586F; }

.oplysninger {
  border: #707070;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  background-color: #EFEFEF;
  font-family: 'arial';
  height: 800px;
  margin-bottom: 30px;
  color: #18586F; }

.subtotal {
  border: #707070;
  border-style: solid;
  border-width: 1px;
  background-color: #EFEFEF;
  font-family: 'arial';
  height: 90px;
  text-align: center;
  font-size: 29px;
  font-family: 'arial';
  color: #18586F;
  text-decoration: none; }

hr {
  width: 150px;
  text-align: center;
  color: #87AA44;
  border-style: solid;
  border-width: 6px;
  margin-left: 0px; }

.fa-heart {
  padding-top: 10%;
  font-size: 30px; }

.text4 {
  margin-top: -1800px; }

.text5 {
  margin-top: -1400px; }

.text6 {
  margin-top: -1070px; }

.text7 {
  margin-top: -660px; }

.text8 {
  margin-top: -300px; }

footer {
  background-color: black;
  background-color: #185970;
  margin-top: 0%; }
  footer h3 {
    color: white;
    font-family: 'arial';
    font-size: 45px;
    text-align: center;
    padding-top: 9%;
    margin-bottom: 0%;
    margin-top: 0%;
    text-decoration: none; }
  footer .follow {
    margin-top: 3%; }
  footer #costumer {
    margin-top: 0%; }
  footer #list {
    font-size: 28px;
    margin-right: 10%;
    margin-top: -10%; }
    footer #list ul {
      list-style-type: none; }
  footer h4 {
    color: #3B5998;
    font-family: 'arial';
    font-size: 45px;
    text-align: center;
    margin-top: 0%; }
  footer h5 {
    color: white;
    font-family: 'arial';
    font-size: 35px;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
    text-decoration: none; }
  footer .foter {
    width: 300px;
    margin-bottom: 5%;
    margin-top: 10%;
    margin-left: 8%; }
  footer .payment {
    margin-top: 5%;
    margin-left: 6%;
    width: 90%;
    height: auto; }
  footer header {
    background-color: #185970;
    padding: 20px;
    color: white;
    text-align: center; }
  footer .clash {
    max-width: 100%; }
  footer .map {
    display: none; }
  footer #box {
    font-size: 20px;
    text-align: center; }
  footer #time {
    font-size: 15px;
    text-align: center; }
  footer #damn {
    margin: 10px;
    margin-bottom: 20px; }
  footer .info {
    max-width: 50%;
    float: left; }
  footer .buy {
    position: relative;
    background-color: #8fbd47;
    max-width: 50%;
    float: right;
    padding: 60px;
    padding-top: 80px;
    padding-bottom: 90px;
    color: white; }
  footer .sold {
    position: relative;
    background-color: #7b2828;
    max-width: 50%;
    float: right;
    padding: 35px;
    padding-top: 80px;
    padding-bottom: 90px;
    color: white; }

    .map {
      display: none;
    }

    .clash {
      max-width: 100%;
    }

    header {
  background-color: #185970;
  padding: 20px;
  color: white;
  text-align: center;
}

#box {
  font-size: 20px;
  text-align: center;
}

#time {
  font-size: 15px;
    text-align: center;
}

#damn {
  margin: 10px;
  margin-bottom: 20px;
}

.info {
  max-width: 50%;
  float: left;
}
.buy {
  position: relative;
  background-color: #8fbd47;
  max-width: 50%;
  float: right;
  padding: 60px;
  padding-top: 80px;
  padding-bottom: 90px;
  color: white;
}

.sold {
  position: relative;
  background-color: #7b2828;
  max-width: 50%;
  float: right;
  padding: 35px;
  padding-top: 80px;
  padding-bottom: 90px;
  color: white;
}


@media screen and (min-width: 992px) {
  .navigation {
    height: 228px; }
    .navigation .danishflag {
      margin-right: 5%; }
    .navigation .britainflag {
      margin-left: 90%; }
    .navigation .logo {
      margin-left: 2%;
      height: 100px;
      width: auto;
      margin-top: -2%; }
    .navigation div {
      width: 100%;
      margin-top: 0%; }
      .navigation div input {
        position: absolute;
        border-radius: 20px;
        border: none;
        width: 60%;
        height: 4%;
        margin-left: 23%;
        margin-top: -4%;
        overflow-y: hidden; }
      .navigation div .fa-search {
        display: none; }
    .navigation ul {
      text-decoration: none;
      margin-top: -1%;
      text-align: center;
      margin-left: 88%;
      padding-bottom: 0%;
      width: 200px; }
      .navigation ul a {
        text-decoration: none;
        color: white;
        width: 50px;
        font-size: 20px;
        margin-left: 0%;
        margin-right: 20%;
        font-family: 'arial'; }

  h1 {
    font-size: 35px;
    margin-left: 0%;
    margin-top: 8%;
    text-align: center; }

  section .work {
    width: 30%;
    height: auto;
    margin-bottom: 0%;
    margin-left: 2%; }
  section h2 {
    width: 27%;
    height: auto; }
  section .text1 {
    margin-left: 2%;
    margin-top: 0%; }
  section .text2 {
    margin-top: 0%;
    margin-left: 33%; }
  section .text3 {
    margin-left: 66%;
    margin-top: 0%; }

  hr {
    width: 150px;
    text-align: center;
    color: #87AA44;
    border-style: solid;
    border-width: 6px;
    margin-left: 0px; }

  .fa-heart {
    padding-top: 10%;
    font-size: 30px; }

  .text4 {
    margin-top: -45.8%;
    margin-left: 2%; }

  .text5 {
    margin-top: -45.8%;
    margin-left: 34%; }

  .text6 {
    margin-top: -45.8%;
    margin-left: 66.2%; }

  .text7 {
    margin-top: -14.1%;
    margin-left: 2%; }

  .text8 {
    margin-top: -14.1%;
    margin-left: 34%; }

  footer {
    background-color: black;
    background-color: #185970;
<<<<<<< HEAD
    margin-top: 0%; }
    footer h3 {
      color: white;
      font-family: 'arial';
      font-size: 45px;
      text-align: center;
      margin-bottom: 0%;
      margin-top: 0%;
      text-decoration: none; }
    footer .follow {
      margin-top: 3%;
      margin-right: 70%; }
    footer #costumer {
      margin-top: -315px;
      margin-left: 70%; }
    footer #list {
      font-size: 25px;
      margin-left: 68%;
      margin-top: -10%;
      width: 30%; }
      footer #list .snedker {
        display: none; }
      footer #list ul {
        list-style-type: none; }
    footer h4 {
      color: #3B5998;
      font-family: 'arial';
      font-size: 45px;
      text-align: center;
      margin-top: 0%;
      margin-right: 70%; }
    footer h5 {
      color: white;
      font-family: 'arial';
      font-size: 35px;
      text-align: center;
      margin-bottom: 0%;
      margin-top: -10%;
      text-decoration: none; }
    footer .foter {
      display: none; }
    footer .payment {
      margin-top: 5%;
      margin-bottom: -6%;
      margin-left: 6%;
      width: 90%;
      height: auto; }
=======
    margin-top: 0%;
  }
  footer h3 {
    color: white;
    font-family: 'arial';
    font-size: 45px;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
    text-decoration: none;
  }
  footer .follow {
    margin-top: 3%;
    margin-right: 70%;
  }
  footer #costumer {
    margin-top: -315px;
    margin-left: 70%;
  }
  footer #list {
    font-size: 25px;
    margin-left: 68%;
    margin-top: -10%;
    width: 30%;
  }
  footer #list .snedker {
    display: none;
  }
  footer #list ul {
    list-style-type: none;
  }

  footer h4 {
    color: #3B5998;
    font-family: 'arial';
    font-size: 45px;
    text-align: center;
    margin-top: 0%;
    margin-right: 70%;
  }
  footer h5 {
    color: white;
    font-family: 'arial';
    font-size: 35px;
    text-align: center;
    margin-bottom: 0%;
    margin-top: -10%;
    text-decoration: none;
  }
  footer .foter {
    display: none;
  }
  footer .payment {
    margin-top: 5%;
    margin-bottom: -6%;
    margin-left: 6%;
    width: 90%;
    height: auto;
  }
>>>>>>> 141415cc77b8cfdfb6848fbe9fac0398e87ba31c

  .event_i_kurv {
    height: 800px;
    margin-top: 7%;
    margin-bottom: 3%;
    background-color: rgb(225,225,225);
  }

  .event_i_kurv img {
    width: 34%;
    height: auto;
  }

  .event_i_kurv .information_kurv {
    position: absolute;
    top: 47%;
    left: 35.5%;
  }

  .event_i_kurv .information_kurv h2 {
    margin-bottom: 5px;
  }

  .event_i_kurv .information_kurv  h3{
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .event_i_kurv .event_billet {
    width: 200px;
    margin: 0;
  }

  .event_i_kurv .event_billet h3 {
    width: 300px;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
  }

  .event_i_kurv .pris_kurv1 {
    position: absolute;
    top: 114.2%;
    left: 80%;
  }
  .event_i_kurv .pris_kurv2 {
    position: absolute;
    top: 116.5%;
    left: 80%;
  }
  .event_i_kurv .pris_kurv3 {
    position: absolute;
    top: 118.7%;
    left: 80%;
  }

  .event_i_kurv .pris_kurv11 {
    position: absolute;
    top: 112%;
    left: 92%;
  }
  .event_i_kurv .pris_kurv12 {
    position: absolute;
    top: 114.5%;
    left: 92%;
  }
  .event_i_kurv .pris_kurv13 {
    position: absolute;
    top: 116.7%;
    left: 92%;
  }

  .event_i_kurv .pris_kurv14 {
    position: absolute;
    top: 122.5%;
    left: 1%;
  }

  .event_i_kurv .pris_kurv14 h4 {
    font-size: 20px;
  }

  .event_i_kurv .pris_kurv15 {
    position: absolute;
    top: 123.5%;
    left: 92%;
  }

  .total_pris_kurv {
    width: 100%;
    height: 68px;
    margin-top: 5%;
    margin-bottom: 7%;
    background-color: rgb(225,225,225);
  }

  .total_pris_kurv .subtotal_kurv {
    float: left;
    margin-left: 2%;
  }

  .total_pris_kurv .subtotal_pris_kurv {
    float: right;
    margin-right: 2%;
  }

.Fortsæt_til_levering1 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 80%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: green;
  float: right;
  margin-right: 1%;
}

.Fortsæt_til_levering1 h1 {
  font-size: 20px;
  color: white;
}

.Fortsæt_til_levering2 {
  margin-top: -5%;
  margin-bottom: 1%;
  margin-left: 80%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: green;
  float: right;
  margin-right: 1%;
}

.Fortsæt_til_levering2 h1 {
  font-size: 20px;
  color: white;
}


  input[type=text], select, [type=number], [type=email], [type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; }

  input[type=submit]:hover {
    background-color: #45a049; }

  .clash {
    max-width: 35%;
    margin-bottom: none;
    padding-bottom: none;
    float: left; }

  .deskie {
    float: left;
    max-width: 25%;
    padding-left: 40px; }

  .map {
    float: right;
    display: block; }

  #no {
    font-size: 40px;
    position: relative; }

  #damn {
    font-size: 20px;
    position: relative;
    padding-bottom: 20px; }

  iframe {
    float: right;
    padding-right: 20px; }

  header {
    padding: 50px; }

  .buy {
    padding: 150px;
    padding-bottom: 190px; }

  .sold {
    padding: 125px;
    padding-bottom: 210px; }

  .info {
    padding-left: 25%;
    padding-top: 1%; }

  #box {
    font-size: 50px; }

  #time {
    font-size: 30px;
    color: gray; } }

/*# sourceMappingURL=stylesheet.css.map */
